.top-bar{
	color: rgb(62,54,58);
	height: 3em;
	position: fixed;
	width: 100%;
	z-index:999;
}


.top-bar img{
  margin-top: 0em;
}

.menu2{
	position: absolute;
	margin-left: 19.8em;
	margin-top: 4em;
}

.div1{

height: 325px;
border: solid;
width: 246px;
margin-top: 4em

}

.div1Box{
  height: 325px;
  width: 246px;
}
.div2{

height: 485px;
border: solid;
width: 326px;
margin-top: 4em;

}

.div2Box{
 height: 485px;
 width: 326px;
 margin-top: 3em;
}
.div3{
height: 645px;
border: solid;
width: 485px;
margin-top: 4em;
}

.div3Box{
  height: 645px;
  width: 485px;
  margin-top: 3em;
}

.div4Box{
height: 1029px;
width: 773px;
 margin-top: 3em;
}
.div4{

	height: 1029px;
border: solid;
width: 773px;
margin-top: 4em;
}
.div5{
height: 772px;
width: 1029px;
margin-top: 4em;
border: solid;
}

.div5Box{
height: 772px;
width: 1029px;
margin-left: auto !important;
margin-right: auto !important;
border:solid;
border-color: white;
margin-top: 7em;
}
.divF{

  margin-top: 4em;
}

.frame1{

 margin-top: 0em;
width: 240px;
height: 320px;
margin-left: 0em;
border: none !important;


}

.frame2{
  margin-top: 0em;
  width: 320px;
	height: 480px;
	margin-left: 0em;
  border: none !important;

}

.frame3{

  width: 480px;
	height: 640px;
	margin-left: 0em;
  border: none !important;

}
.frame4{

  width: 768px;
	height: 1024px;
	margin-left: 0em;
  border: none !important;

}
.frame5{
  
  width: 1024px;
	height: 768px;
  border: none !important;
 

}

.txtSearch{
float: right !important;
width: 20em;
}
.btnSearch{
	width: 100px;
	float: right !important;
}

.divNav{
  margin-top: .8em;

	
}
.search{
  	margin-top: -.1em;
	   margin-left: 10em;
     position: absolute;;

}



p{
	font-family: georgia, helvetica, arial, sans-serif;
	font-style: italic;
}



@media(max-width: 640px){

  .btnSearch{
    width:60px;
  }
  .txtSearch{
    width: 9em;

  }
  .search{
    margin-top: .4em;
    margin-left: 7em;
  }
}


@media(max-width: 454px){
  .search{
    margin-left: 7em;
  }
   .btnSearch{
    width:60px;
  }

}


@media(max-width: 368px){
  .txtSearch{
    width: 5em;
  }
}


@media(max-width: 391px){
  
  .search{
    margin-left: 6em;
  }
  .txtSearch{
    width: 5em;
   
  }
   .btnSearch{
    width:60px;
  }

}


  @media(max-width: 240px){
   .search {
      margin-left: .3em;
      margin-top: 3em;
   }

   .top-bar{
      height: 6em;
   }

   .txtSearch {
      width: 12em;
   }

  }